/.cache
/dist
/dist-ls
/dist_srv
/dist-aws
/dist-client
/dist-server
/dist-api
/node_modules
/.DS_Store
/.parcel-cache
/src/.parcel-cache
/coverage
/.vscode
/.vs
/parcel-bundle-reports
/Tools/ftp.log
Tools/ftp.log
.idea
ecosystem.config.js
.env
